<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>My First Angular Portfolio Page</h1>
  <p>This is just a test
  </p> 
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Movie Synopsis</h3>
      <p>This was the first website I made for my coursework and it was a simple site made using HTML and CSS.</p>
      <p>Here is the link to the site: <a href="https://dmu-p2587267.github.io/Coursework1-ThajeepanRathiharan-P2587267/homepage.html" target="_blank">https://dmu-p2587267.github.io/Coursework1-ThajeepanRathiharan-P2587267/homepage.html,</a>
        and if you're interested here is the link to my repository for this website: <a href="https://github.com/DMU-P2587267/Coursework1-ThajeepanRathiharan-P2587267" target="blank">https://github.com/DMU-P2587267/Coursework1-ThajeepanRathiharan-P2587267. </a></p>
    </div>
    <div class="col-sm-4">
      <h3>Naruto Shippuden Encyclopedia</h3>
      <p>This was my second site I made in my second year of university for coursework where we were introduced to JavaScript, and using it to make a card flip/ card matching game.
        This was hard for me at that time because I was just introduced to JavaScript and I hit a few dead ends but with the teacher I had there who helped me with my coding errors and helped me fix those errors. This site was made using HTML and CSS heavily, but JavaScript was used to make the card flip game work.</p>
      <p>Here is the link to the site: <a href="https://thajeepan-rathiharan.github.io/Anime-Encyclopedia/homepage.html" target="_blank">https://thajeepan-rathiharan.github.io/Anime-Encyclopedia/homepage.html,</a>
        and if you're interested here is the link to my repository for this website: <a href="https://github.com/Thajeepan-Rathiharan/Anime-Encyclopedia" target="blank">https://github.com/Thajeepan-Rathiharan/Anime-Encyclopedia.</a></p>
    </div>
    <div class="col-sm-4">
      <h3>Naruto Quiz</h3>        
      <p>Here is a piece of my work that I made for my second project in the Front-End Plus course with Learning People where I was tasked to make an quiz or card flip game using HTML, CSS and JavaScript.
        It would have been easy for me to just copy and paste my card game from my card flip game I made in my second year of university for a coursework I submitted, and it would be cheating. Therefore I decided to challenge myself by making a quiz which was hard, but I managed to get it done in the end.
        Not only did I make the quiz work, but I also made the website responsive on mobile devices and tablet devices alongside desktop devices. </p>
      <p>Here is the link to the site: <a href="https://thajeepan-rathiharan.github.io/Module-2-Assessment/" target="_blank">https://thajeepan-rathiharan.github.io/Module-2-Assessment/,</a> 
        and if you're interested here is the link to my repository for this website: <a href="https://github.com/Thajeepan-Rathiharan/Module-2-Assessment" target="blank">https://github.com/Thajeepan-Rathiharan/Module-2-Assessment.</a></p>
    </div>
  </div>
</div>

<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <p>Here are links to my social media</p>
    <a href="https://www.facebook.com/profile.php?id=100009232941477" class="fa fa-facebook-official w3-hover-opacity"></a>
    <a href="https://www.instagram.com/thajaht/" class="fa fa-instagram w3-hover-opacity"></a>
    <a href="https://twitter.com/thajee2002" class="fa fa-twitter w3-hover-opacity"></a>
    <a href="https://www.linkedin.com/in/thajeepan-rathiharan-188349224/" class="fa fa-linkedin w3-hover-opacity"></a>
    <a href="https://github.com/Thajeepan-Rathiharan" class="fa fa-github w3-hover-opacity"></a>
 </div>